* {
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: Raleway, sans-serif;
  position: fixed;
  overflow: hidden;
}

img {
  height: 380px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

h2 {
  display: inline-block;
  margin-right: 10px;
}

h2:nth-of-type(2) {
  opacity: 0.7;
  font-size: 1.35rem;
}

h5 {
  margin-top: -15px;
  margin-left: 2px;
  color: lightgray;
}

h5:last-of-type {
  color: darkgray;
}

#filmder-icon {
  background: url("../assets/icon.white.svg") no-repeat;
  width: 200px;
  height: 150px;
  position: fixed;
  right: -1%;
  top: 3%;
}

#root {
  position: relative;
  text-align: center;
  background: linear-gradient(
    60deg,
    rgba(233, 72, 51, 1) 0%,
    rgba(196, 26, 42, 1) 100%
  );
}
.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}
.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}
/* Animation */
.parallax > use {
  animation: move-forever 35s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 15s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 25s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 1020px) {
  #filmder-icon {
    z-index: -8;
  }
}

@media (max-width: 768px) {
  .Deck-Searched {
    margin-top: 9%;
  }
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  body {
    height: auto;
  }
}
